html, body {
  background-image: url("./resources/images/memphis-mini-dark.png");
  background-repeat: repeat;
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
}
.footer,
.push {
  height: 50px;
}

h1 {
  color: white;
  font-family: "Montserrat";
  font-size: 48px;
}

p {
  color: white;
  font-family: "Montserrat";
  font-size: 16px;
}

.fa-github {
  color: white;
  font-size: 48px;
}

/* table, th, td {
  border: 1px solid black;
} */
